html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  border: 2px solid #666;
}

body {
  //new
  background: #237379;
  //background: #121213;
  //background: #3f51b5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    background: url('https://static1.squarespace.com/static/56c5082327d4bdbfed3e08df/595ea35f1e5b6cee7b594b4c/595ea35f1b10e3c22ea527ac/1499374439479/WeatherIconsMonoline_BlowingSnow.gif?format=1000w') no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100px;
  }
}

.weather-forecast-wrapper {
  margin: 0 auto;
  width: 40%;

  @media only screen and (max-width: 64em) {
    width: 60%;
  }

  @media only screen and (max-width: 48em) {
    width: 100%;
  }

  header {
    text-align: center;

    .heading {
      font-size: 22px;
      padding: 25px 0 0 0;
    }
  }

  .weather-dashboard {
    text-align: center;

    .error {
      display: none;
    }

    section.controls {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;

      input {
        font-size: 13px;
        padding: 10px;
        display: inline-block;
        background: #1c939c;
        border: none;
        color: #fff;
        width: 230px;
        text-transform: uppercase;

        &::placeholder {
          color: #fff;
        }

        &:focus {
          &::placeholder {
            color: transparent;
          }
        }

        &.search {
          width: 30px;
          cursor: pointer;
        }
      }
    }

    &.invalid-city {
      section.controls {
        input {
          background: #ff617d;

        }
      }

      .error {
        display: block;
        color: #ff617d;
        padding: 0 0 30px 0;
      }
    }
  }

  .forecast-tiles {
    width: 100%;

    .forecast-tile {
      min-height: 100px;
      background: #129fab;
      margin: 3px;
      cursor: pointer;
      overflow: hidden;
      position: relative;

      :after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 10px;
        top: 48px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
      }

      .icon {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1b939c;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 12px;
      }

      .weather-info {
        padding: 0 0 0 15px;
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;

        .min-max {
          padding: 10px 10px;
          font-size: 20px;
          color: #2ec8d4;
          strong {
            font-weight: bold;
            color: #fff;
          }
        }

        .more-info {
          padding: 0 10px;
          font-size: 12px;
        }
      }

      .primary-info {
        display: flex;
      }

      &.collapsed {
        .detailed-info {
          height: 0;
        }
      }

      &.expanded {
        .detailed-info {
          height: 100px;
        }

        :after {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #fff;
          border-top: none;
        }
      }

      .detailed-info {
        width: 100%;
        height: 0;
        -webkit-transition: height 0.20s ease-in;
        -moz-transition: height 0.20s ease-in;
        -o-transition: height 0.20s ease-in;
        transition: height 0.20s ease-in;
        background: #1b939c;

        .hourly {
          display: flex;
          padding: 25px 0 20px 10px;

          .hourly-info {
            display: flex;
            flex-direction: column;
            width: 20%;
            align-items: center;
            justify-content: center;
            overflow-x: scroll;

            .hour-temperature {
              font-size: 16px;
              font-weight: bold;
            }

            .hour-of-the-day {
              font-weight: normal;
              font-size: 12px;
              color: #2ec8d4;
            }

            div {
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}

.source {
  margin: 30px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;

  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
}
